:root {
  --bg-color: #d6d6d6;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: #222222;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main.main {
  flex: 1 1 auto;
}

.col-num {
  width: 55px;
}

.counter {
  display: flex;
  align-items: center;
}

.btn {
  border-radius: 0%;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
}

.asc,
.desc {
  transition: all 0.4s ease;
}

.asc:hover,
.desc:hover {
  color: #d1d1d1f5;
}


td,
th {
  border: none;
  text-align: center;
  vertical-align: middle;
}